* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #101020;
	color: aliceblue;
}

h1 {
	text-align: center;
}